<div class="article__wraper">
  <div class="article__title">Intermezzo</div>
  <div class="article__text">
    Sebelum masuk ke topik artikel, saya mau mengajak anda bernostalgia tentang
    konsep UX dengan melihat gambar dibawah ini. UX yang baik adalah:
    <ol>
      <li>Memenuhi kebutuhan user</li>
      <li>Memenuhi kebutuhan bisnis</li>
      <li>Menyesuaikan dengan teknologi yang dimiliki.</li>
    </ol>
  </div>
  <div class="article__text">
    <img src="https://www.dwinawan.com/blog/article_batasan_01.png" />
  </div>
  <div class="article__separator">• • •</div>
  <div class="article__title">Tentang Batasan</div>
  <div class="article__text">
    Artikel ini akan membahas tentang poin nomor tiga. Penting untuk mengetahui
    batasan dari sisi teknis atau teknologi yang dimiliki. Jangan sampai hal itu
    diketahui ketika design sudah jadi.
  </div>
  <div class="article__text">
    Bayangkan kamu sedang mempresentasikan design dashboard yang indah, berharap
    mendapat pujian tetapi kamu mendengar...
  </div>
  <div class="article__quotes">
    <i
      >" Untuk menampilkan data followers harian enggak bisa sih, soalnya kita
      enggak mencatat data followers dari hari ke hari. Kalau mau di generate
      pake query load database nya bakal tinggi. "</i
    >bloc
  </div>
  <div class="article__text">
    <img src="https://www.dwinawan.com/blog/article_batasan_02.png" />
  </div>
  <div class="article__text">
    <br />
    Atau ketika kamu sedang mempresentasikan prototype yang sudah dibikin dengan
    susah payah sampai begadang dan berharap semua orang terpukau tapi kamu
    mendengar...
  </div>
  <div class="article__quotes">
    <i
      >" Interaksi seperti ini cukup susah implementasi nya, seperti nya dengan
      deadline yang hanya 1 bulan, enggak terkejar. "</i
    >
  </div>
  <div class="article__text">
    <img
      src="https://res.cloudinary.com/dqlxgmbss/image/upload/v1671588204/article_batasan_03_cpdy7c.gif"
    />
  </div>
  <div class="article__separator">• • •</div>
  <div class="article__title">
    Kalau banyak batasan, enggak ada inovasi dong? Ini gak bisa, itu gak bisa.
  </div>
  <div class="article__text">
    Yup, betul. Tidak akan ada inovasi. Eh tapi inti artikel ini bukan untuk
    bikin kamu patah semangat dink. Saya akan berusaha bijak dan membuat kamu
    memiliki harapan ketika membuat design.
  </div>
  <div class="article__text">
    Jadi begini, ingat lagi gambar 3 lingkaran diatas. User, Bisnis dan
    Teknologi. Bukan berarti kamu harus mengetahui semua nya di awal lalu
    setelah itu baru membuat design.
  </div>
  <div class="article__text">
    Tapi... selalu ingatlah 3 hal tersebut ketika membuat design. Jadi ketika
    kamu kepikiran untuk membuat konsep interaksi yang rumit, kamu bisa langsung
    ngobrol dengan developer nya. Apakah memungkinkan atau tidak? kenapa harus
    ada interaksi seperti ini? apa keuntungan nya untuk user?
  </div>
  <div class="article__quotes">
    " Obrolkanlah batasan batasan tersebut ketika proses design, bukan saat
    design nya sudah jadi dan siap di presentasikan. "
  </div>
  <div class="article__text">
    Hasil diskusi nya belum tentu akan memuaskan mu. Bisa jadi jawaban nya
    adalah tidak alias belum bisa diimplementasi saat ini. Dan tentunya kamu
    bisa menanyakan alasan nya lalu mencoba memahami batasan nya dan bisa
    mencoba membuat ide lain.
  </div>
  <div class="article__text">
    Atau... jika kamu bersikeras harus menggunakan cara tersebut, entah gimana
    caranya pokoknya musti pake cara itu, maka kamu bisa meyakinkan developer
    dengan alasan alasan yang tentu nya harus berpihak pada user dan pengaruhnya
    ke sisi bisnis.
  </div>

  <div class="article__separator">• • •</div>
  <div class="article__text">
    Begitulah memang design yang fungsional. Harus memperhatikan tiga hal: User,
    Bisnis dan Teknologi.
  </div>
  <div class="article__text">
    Memperhatikan sisi user agar tercipta design yang sesuai kebutuhan customer
    atau user dan tentu nya mudah digunakan.
  </div>
  <div class="article__text">
    Memperhatikan sisi bisnis agar tercipta design yang sesuai dengan tujuan
    bisnis dan membuat bisnis bisa sustain atau berjalan dan terus bertahan.
  </div>
  <div class="article__text">
    Memperhatikan sisi teknologi agar sebuah design bisa diimpementasi dan
    menjadi sebuah produk.
  </div>
</div>
