<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="http://cansunmanpower.com/assets/images/imagePlaceholder.png"
      alt=""
    />
  </div>
  <div class="big-card__title">
    <a href="#">Saiu a nova versão do Angular</a>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem
        atque libero saepe aliquam provident consectetur voluptate natus
        blanditiis dolore, pariatur inventore ipsum sed, fuga officiis delectus.
        Iusto, totam ipsa.
      </a>
    </p>
  </div>
</div>
