<div class="whitearea">
  <div class="article__wraper">
    <!-- 01 -->
    <div class="article__item">
      <div class="article__text">
        <div class="article__numbering">00.</div>
        <div class="article__captions">
          <div class="article__captions-title">Intro</div>
          <div class="article__captions-desc">
            Saya sangat suka menggunakan bold typography ketika membuat desain
            website atau landing page. Menurut saya bold typography sangat bagus
            secara visual. Saya akan membahas beberapa cara penggunaan bold
            typography agar menarik perhatian, tetapi tidak mengganggu.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__image article__specialmargin">
          <img
            src="https://www.dwinawan.com/blog/article_tips_bold_typography_9.png"
          />
        </div>
      </div>
    </div>

    <div class="article__separator"></div>

    <!-- 02 -->
    <div class="article__item">
      <div class="article__text">
        <div class="article__numbering">01.</div>
        <div class="article__captions">
          <div class="article__captions-title">Contrast</div>
          <div class="article__captions-desc">
            Apa yang membuat bold typography terasa spesial? Jawaban nya adalah
            kontras. Kontras yang dimaksud adalah kontras dalam hal perbedaan
            ukuran dengan teks di sekitar nya. Dengan adanya kontras akan
            membuat bold typography menjadi menonjol dan menjadi point of
            interest di suatu section atau bagian.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_8.jpg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article__separator"></div>
    <!-- 05 -->
    <div class="article__item">
      <div class="article__text">
        <div class="article__numbering">02.</div>
        <div class="article__captions">
          <div class="article__captions-title">Overlapping</div>
          <div class="article__captions-desc">
            Bold typography yang berada di atas gambar itu sangat keren. Tapi
            perhatikan penggunaan gambarnya, usahakan yang warna nya kontras
            agar teks nya tetap terbaca dengan jelas.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_10.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="article__separator2"></div>
    <div class="article__item">
      <div class="article__text">
        <div class="article__captions">
          <div class="article__captions-desc">
            Jika gambar atau foto yang ditumpangi bold typography nya tidak
            kontras maka efek nya adalah teks tidak terbaca dengan jelas.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_11.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article__separator"></div>

    <div class="article__item">
      <div class="article__text">
        <div class="article__numbering">03.</div>
        <div class="article__captions">
          <div class="article__captions-title">
            Bisa digunakan pada menu navigasi
          </div>
          <div class="article__captions-desc">
            Bold typography tidak hanya digunakan pada konten website, tetapi
            juga bisa digunakan pada bagian menu sehingga menonjolkan menu menu
            utama nya, tapi yang perlu diingat adalah penggunaan kontras nya.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_12.jpg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article__separator"></div>

    <div class="article__item">
      <div class="article__text">
        <div class="article__numbering">04.</div>
        <div class="article__captions">
          <div class="article__captions-title">Perhatikan panjang karakter</div>
          <div class="article__captions-desc">
            Menurut saya bold typography cocok diterapkan pada tulisan yang
            tidak terlalu panjang. Untuk tulisan yang panjang jangan menggunakan
            bold typography. Seperti contoh disamping ini.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_13.jpg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article__separator2"></div>
    <div class="article__item">
      <div class="article__text">
        <div class="article__captions">
          <div class="article__captions-desc">
            Karena jika menggunakan bold typography atau teks berukuran besar,
            waktu baca user menjadi lebih lama. Apalagi jika user menggunakan
            device dengan layar yang tidak terlalu panjang, maka user harus
            men-scroll layar untuk dapat membaca keseluruhan paragraf.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_14.jpg"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article__separator"></div>

    <div class="article__item">
      <div class="article__text">
        <div class="article__numbering">05.</div>
        <div class="article__captions">
          <div class="article__captions-title">
            Makin pendek karakter, makin berkesan.
          </div>
          <div class="article__captions-desc">
            Menurut saya bold typography paling cocok digunakan pada sebuah
            slogan. Penggunaan bold typography pada slogan yang singkat akan
            memperkuat slogan tersebut karena menjadikan nya point of interest
            utama di sekitar elemen yang lain.
          </div>
        </div>
      </div>
      <div class="article__image-wraper">
        <div class="article__item">
          <div class="article__image article__specialmargin">
            <img
              src="https://www.dwinawan.com/blog/article_tips_bold_typography_15.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
