<div class="container__content">
  <div class="content__cover">
    <h1>{{ photoCover }}</h1>
  </div>
  <div class="content__container">
    <div class="content__description" [innerHTML]="contentDescription"></div>
    <div class="content__details">
      <span class="content__left">{{ dateTitle }}</span>
      <span class="content__right">{{ dateDescription }}</span>
    </div>
    <div class="content__details">
      <span class="content__left">{{ writerTitle }}</span>
      <span class="content__right">{{ writerDescription }}</span>
    </div>
    <div class="content__details">
      <span class="content__left">{{ estimateTitle }}</span>
      <span class="content__right">{{ estimateDescription }}</span>
    </div>
    <div class="content__details">
      <span class="content__left">{{ categoryTitle }}</span>
      <span class="content__right">{{ categoryDescription }}</span>
    </div>
  </div>
</div>

<div class="article__container">
  <div class="article__one" *ngIf="showAppArticleOne">
    <app-article-one></app-article-one>
  </div>

  <div class="article" *ngIf="showAppArticleTwo">
    <app-article-two></app-article-two>
  </div>

  <div class="article" *ngIf="showAppArticleThree">
    <app-article-three></app-article-three>
  </div>

  <div class="article" *ngIf="showAppArticleFour">
    <app-article-four></app-article-four>
  </div>
</div>
