<div class="whitearea">
  <div class="article__wraper">
    <div class="article__text">
      Di artikel ini saya akan memberikan contoh eksplorasi design atau fake
      project yang digarap serius dan bagaimana cara menunjukkan bagian design
      yang merupakan asumsi atau hasil validasi.
    </div>

    <div class="article__separator">• • •</div>
    <div class="article__title">
      1. Tampilkan hasil akhir fake project / eksplorasi design mu.
    </div>
    <div class="article__text">
      Awali portfolio atau case study mu dengan visual yang memikat terlebih
      dahulu. Buat mereka yang melihat hasil design mu ingin mengetahui lebih
      jauh mengenai proses mu membuat design.
      <br /><br />
      <img src="https://www.dwinawan.com/blog/image_article20_2.png" />
    </div>

    <div class="article__separator">• • •</div>
    <div class="article__title">
      2. Ceritakan secara singkat latar belakang atau tujuan pembuatan fake
      project / eksplorasi design mu
    </div>
    <div class="article__text">
      <b>Contoh:</b><br />
      Waktu makan dengan temen sering kejadian ada temen yang minta dibayarin
      dulu. Setelah beberapa waktu uang nya enggak dibalikin dan enggak
      ditraktir balik, kalau ketemu rasanya sebel, Mau nagih juga enggak enak.
    </div>
    <div class="article__text">
      Jadi kepikiran bagaimana seandai nya ada sesuatu yang bisa digunakan untuk
      mengatasi hal diatas
    </div>

    <div class="article__separator">• • •</div>
    <div class="article__title">3. Ceritakan langkahmu mencari solusi</div>
    <div class="article__text">
      <b>Contoh:</b><br />
      Setelah kepikiran masalah diatas saya mencari di internet bagaimana orang
      orang memecahkan masalah ini. Dan akhirnya menemukan beberapa aplikasi.
      <img src="https://www.dwinawan.com/blog/image_article20.png" />
      Saya pun mengetahui alur pembagian bill atau tagihan yang ideal adalah
      seperti berikut
    </div>
    <div class="article__text">
      <b>Langkah 1</b><br />
      Membuat group aktivitas terlebih dahulu. Seperti Makan Malam di Resto,
      Liburan ke Jogja, Ngafe Sore atau yang lain nya
    </div>
    <div class="article__text">
      <b>Langkah 2</b><br />
      Meng-invite teman teman yang bersangkutan
    </div>
    <div class="article__text">
      <b>Langkah 3</b><br />
      Mencatat transaksi dan di tiap transaksi ditentukan siapa yang saat ini
      membayar dan bagaimana pembagian nya
    </div>
    <div class="article__text">
      <b>Langkah 4</b><br />
      Terdapat laporan keseluruhan yang memberi tahu berapa nominal uang yang
      harus dibayar oleh teman, berapa nominal uang yang harus saya bayar dan
      kepada siapa saya harus membayar.
    </div>
    <div class="article__quotes">
      Bagian ini bisa disebut sebagai validasi, karena di dapat dari melakukan
      riset competitive analysis atau dengan melihat produk produk sejenis.
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__title">4. Sekarang lanjut ke proses design mu</div>
    <div class="article__text">
      Jika kamu merasa tidak membutuhkan coret coret di kertas, ataupun merasa
      tidak membutuhkan membuat wireframe karena semua ide telah melintas dengan
      jelas maka kamu bisa melewati coret-coret di kertas ataupun wireframe.
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__title">
      5. Ceritakan designmu dengan detail dan kenapa kamu membuat design seperti
      ini
    </div>
    <div class="article__text">
      <img src="https://www.dwinawan.com/blog/image_article20_3.png" />
      <b>Home, Alur pengiriman reminder dan Alur pengiriman uang</b><br />
      Pada bagian atas menampilkan jumlah total atau akumulasi hutang dan
      piutang saya. Lalu dibawahnya adalah daftar hutang dan piutang tetapi
      berdasarkan perorangan.
    </div>
    <div class="article__text">
      Jika mengklik pada bagian info orang yang memiliki hutang kepada saya,
      maka akan mengarahkan ke halaman pengiriman reminder. Kalau mengklik pada
      bagian info orang yang saya memiliki hutang, maka akan mengarahkan ke
      halaman kirim uang.
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__text">
      <img src="https://www.dwinawan.com/blog/image_article20_5.png" />
      <b>Alur Pembagian Tagihan</b><br />
      Dimulai dengan menekan tombol plus (+) di home. Lalu dilanjutkan dengan
      menuliskan total bayar, nama aktivitas nya sebagai catatan, lalu berapa
      saya membayar, dan berapa teman teman yang lain membayar. Setelah
      disimpan, sistem akan melakukan penghitungan otomatis siapa yang memiliki
      kekurangan bayar terhadap siapa.
    </div>
    <div class="article__quotes">
      Bagian ini bisa ditandai sebagai asumsi, karena walaupun inspirasi alur
      atau user flow nya didapat dari competitive analysis, tetapi hasil design
      diatas belum diuji melalui usability testing
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__title">Takeaways</div>
    <div class="article__text">
      Jangan minder kalau belum pernah mengerjakan project sungguhan. Jika kamu
      serius pengen melamar ke sebuah perusahaan sebagai UI Designer maka
      perlakukan eksplorasi design mu dengan serius, tandai mana yang merupakan
      hasil validasi dan mana yang masih asumsi.
    </div>
    <div class="article__text">All the best for you!</div>
  </div>
</div>
