* {
  background: #121212;
}

.main__container {
  max-width: 1280px;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.container__articles {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.articles__others {
  width: 612px;
  height: 583px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 32px;
}

.articles__others app-small-card {
  border-bottom: 1px solid #ffffff1a;
}

.articles__others app-small-card:last-child {
  border-bottom: none;
}
