<main>
  <div class="main__container">
    <app-menu-title></app-menu-title>
    <div class="container__articles">
      <div class="articles__main">
        <app-big-card
          id="1"
          photoCover="https://www.dwinawan.com/blog/thumb_article41.jpg"
          cardDate="Juli 17, 2023"
          cardTitle="Beberapa cara menggunakan bold typography pada design website"
          cardDescription="Di artikel ini saya membuat daftar hal hal yang bisa digunakan dengan bold typography pada design website. Agar bold typography menjadi menarik dan tidak mengganggu visual."
        ></app-big-card>
      </div>
      <div class="articles__others">
        <app-small-card
          id="2"
          photoCover="https://www.dwinawan.com/blog/thumb_article20.jpg"
          cardDate="Januari 11, 2022"
          cardTitle="Bisakah eksplorasi design dipakai untuk melamar pekerjaan UI Designer?"
        ></app-small-card>
        <app-small-card
          id="3"
          photoCover="https://www.dwinawan.com/blog/thumb_article15.jpg"
          cardDate="Desember 11, 2021"
          cardTitle="Berlatih UX Writing dengan beberapa prinsip dasar microcopy"
        ></app-small-card>
        <app-small-card
          id="4"
          photoCover="https://www.dwinawan.com/blog/thumb_article40.jpg"
          cardDate="Desember 01, 2022"
          cardTitle="Tentang batasan yang harus dipahami saat membuat design"
        ></app-small-card>
      </div>
    </div>
  </div>
</main>
