<div class="main__container">
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card
        id="1"
        photoCover="http://cansunmanpower.com/assets/images/imagePlaceholder.png"
        cardTitle="Saiu a nova versão do Angular"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rematque libero saepe aliquam provident consectetur voluptate natusblanditiis dolore, pariatur inventore ipsum sed, fuga officiis delectus.Iusto, totam ipsa."
      ></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card
        id="2"
        photoCover="http://cansunmanpower.com/assets/images/imagePlaceholder.png"
        cardTitle="Saiu a nova versão do Angular"
      ></app-small-card>
      <app-small-card
        id="3"
        photoCover="http://cansunmanpower.com/assets/images/imagePlaceholder.png"
        cardTitle="Saiu a nova versão do Angular"
      ></app-small-card>
      <app-small-card
        id="4"
        photoCover="http://cansunmanpower.com/assets/images/imagePlaceholder.png"
        cardTitle="Saiu a nova versão do Angular"
      ></app-small-card>
    </div>
  </div>
</div>
