<div class="container__menu-bar">
  <ul class="container__links">
    <li>
      <a href="#"
        ><img src="https://www.dwinawan.com/blog/logoorange.png" alt=""
      /></a>
    </li>
    <li><a href="#">Learn</a></li>
    <li><a href="#">Shortcut</a></li>
    <li><a [routerLink]="['']">Blog</a></li>
    <li><a href="#">Bookmarks</a></li>
    <li><a href="#">Ui Kit</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Lain Nya</a></li>
  </ul>
  <ul class="container__icons">
    <li>
      <a href="#"
        ><img src="https://www.dwinawan.com/img/icon_twitter.svg" alt=""
      /></a>
    </li>
    <li>
      <a href="#"
        ><img src="https://www.dwinawan.com/img/icon_instagram.svg" alt=""
      /></a>
    </li>
    <li>
      <a href="#"
        ><img src="https://www.dwinawan.com/img/icon_dribbble.svg" alt=""
      /></a>
    </li>
    <li>
      <a href="#"
        ><img src="https://www.dwinawan.com/img/icon_medium.svg" alt=""
      /></a>
    </li>
  </ul>
</div>
