<div class="whitearea">
  <div class="article__wraper">
    <div class="article__text">
      <div class="article__title">Prinsip Dasar Microcopy</div>
      <ul>
        <li><strong>Clear</strong> - Jelas, tidak ambigu atau multitafsir</li>
        <li><strong>Concise</strong> - Ringkas, tidak berbelit-belit</li>
        <li>
          <strong>Consistent</strong> - Konsisten, warna kalimatnya sama di
          setiap tulisan
        </li>
        <li>
          <strong>Functional</strong> - Berguna dan memberikan informasi atau
          panduan bagi yang membacanya
        </li>
      </ul>
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__title">Contoh 1: Pop up konfirmasi menghapus data</div>
    <div class="article__text">
      Mari kita analisa penulisan teks dibawah ini:
      <ul>
        <li>
          <strong>Jelas</strong> - Ya, maksudnya jelas mengkonfirmasi apakah
          yakin untuk menghapus foto
        </li>
        <li>
          <strong>Ringkas</strong> - Tidak, banyak kalimat yang membuat waktu
          baca menjadi lama padahal tidak menambah informasi
        </li>
        <li>
          <strong>Konsisten</strong> - Tidak, Kalimat konfirmasi nya bernada
          formal, kalimat di tombol nya bernada santai
        </li>
        <li>
          <strong>Berguna</strong> - Ya, membuat user tahu apa yang harus
          dilakukan
        </li>
      </ul>
      <img src="https://www.dwinawan.com/blog/article_ux_writing_1.png" />
    </div>
    <div class="article__text">
      Coba kita bandingkan dengan penulisan dibawah ini:
      <ul>
        <li><strong>Jelas</strong> - Ya</li>
        <li><strong>Ringkas</strong> - Ya</li>
        <li><strong>Konsisten</strong> - Ya</li>
        <li>
          <strong>Berguna</strong> - Ya, membuat user tahu apa yang harus
          dilakukan
        </li>
      </ul>
      <img src="https://www.dwinawan.com/blog/article_ux_writing_3.png" />
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__title">Contoh 2: Pesan Error saat mengisi form</div>
    <div class="article__text">
      Mari kita analisa penulisan teks dibawah ini:
      <ul>
        <li><strong>Jelas</strong> - Ya</li>
        <li><strong>Ringkas</strong> - Ya</li>
        <li><strong>Konsisten</strong> - Ya</li>
        <li>
          <strong>Berguna</strong> - Tidak, user tidak tahu alasan email tidak
          valid
        </li>
      </ul>
      <img src="https://www.dwinawan.com/blog/article_ux_writing_4.png" />
    </div>
    <div class="article__text">
      Coba kita bandingkan dengan penulisan dibawah ini:
      <ul>
        <li><strong>Jelas</strong> - Ya</li>
        <li><strong>Ringkas</strong> - Ya</li>
        <li><strong>Konsisten</strong> - Ya</li>
        <li>
          <strong>Berguna</strong> - Ya, user tahu alasan email tidak valid
        </li>
      </ul>
      <img src="https://www.dwinawan.com/blog/article_ux_writing_5.png" />
    </div>
    <div class="article__separator">• • •</div>
    <div class="article__title">Takeaways</div>
    <div class="article__text">
      <ul>
        <li>
          Prinsip dasar microcopy bisa kita jadikan checklist untuk memeriksa
          apakah copy atau tulisan kita sudah bagus atau belum
        </li>
        <li>
          Baca berulang ulang untuk memastikan kita sudah menulis sesuatu yang
          informatif dan tepat
        </li>
        <li>
          Lakukan test pada copy mu, minta orang lain untuk membaca dan tanyakan
          apakah maksudnya mudah dimengerti atau belum.
        </li>
      </ul>
    </div>
  </div>
</div>
